.carousel-inner > .item > img{
       width:540px;
       height:375px;
   }
   .input-mysize { width: 450px }
   .footer{

   }
.go-top{
	bottom: 10px;
	right: 10px;
	float: right;

}
.go-top:hover {
	background: #00a7dd;
}
.center{
	text-align: center;
}
li{
	color:grey;
}
