.mdl-layout__drawer-button {
  color: rgb(0, 0, 0) !important;
}

.lefttap {
  font-size: 1.5em;
  font-weight: bold;
}

.icon-left-menu {
  color: #00A;
}

a.mdl-navigation__link{
  text-decoration: none;
}

hr{
  margin: 0px;
}
